.help-block{
	color: #de815c !important;
}

#submit{
	margin-left: 50px;
}

#employee-reg-grid_c4{
	color: #5ccdde;
}

#employee-reg-grid_c10{
	color: #5ccdde;	
}

#employee-reg-grid_c11{
	color: #5ccdde;	
}

#user-grid_c6{
	color: #5ccdde;
}

.btn_user{
	margin-left: 50px;
}

#country-grid_c1{
	color: #5ccdde;
}

#state-grid_c2{
	color: #5ccdde;
}

#city-grid_c3{

	color: #5ccdde;
}

#user-grid_c5{
	color: #5ccdde; 
}

.required span{
	color: red;
}

#image-upload-grid_c0{
	color: #5ccdde;
}

#image-upload-grid_c5{
	color: #5ccdde;
}

#image-upload-grid_c4{
	color: #5ccdde;
}

#image-upload-grid_c6{
	color: #5ccdde;
}

/*#image-upload-grid_c7{
	color: #5ccdde;
}*/

